<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hỏi đáp luật lao động Việt Nam</title>
    <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.css" />
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
  </head>
  <body class="gradient-custom">
    <section>
      <div class="w-100">
        <h3 class="text-center fw-semibold text-white py-2">Hỏi đáp luật lao động Việt Nam</h3>
      </div>
    </section>
    <section style="height: calc(100vh - 4rem);">
      <div class="container-fluid py-3">
        <div class="row" style="height: calc(100% - 2rem)">
          <div class="col-md-3 mb-4 d-sm-none d-md-block">
            <h5 class="fw-semibold mb-3 text-center text-white">
              Lựa chọn
            </h5>
            <div class="card mask-custom">
              <div class="card-body">
                <label class="text-secondary-emphasis fw-semibold  mb-1" for="method">Phương thức</label>
                <select class="form-select" name="method" id="method">
                  <option value="0" selected>Hỏi đáp (kết hợp)</option>
                  <option value="1">Hỏi đáp (dự đoán)</option>
                </select>
                <button class="btn btn-danger  mt-2" id="clearBtn">
                  <i class="fa fa-trash pe-1"></i> Xóa chat
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-9 d-flex flex-column" style="max-height: 100%;">
            <div class="d-flex flex-grow-1 mb-4 h-100" id="chatArea" style="max-height: 100%; overflow-y: auto;">
              <ul class="list-unstyled text-white w-100" id="chatContainer">
                
              </ul>
            </div>
            <div class="d-flex">
              <div class="form-outline form-white w-100 px-3">
                <form id="formChat" name="chatForm" class="d-flex justify-content-between">
                  <input
                    class="form-control me-2"
                    id="chatbox"
                    rows="4"
                  ></input>
                  <button
                    type="submit"
                    data-mdb-button-init
                    data-mdb-ripple-init
                    class="btn btn-light btn-md btn-rounded float-end"
                  >
                    <i class="fa fa-paper-plane text-primary"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>

  <script src="/static/main.js"></script>

  <script>

    $(document).ready(()=>{
      $("#formChat").submit((e)=>{
        e.preventDefault()
        let message = $("#chatbox").val()
        if (message == "") return
        $("#chatbox").val("")
        const chatContainer = $("#chatContainer")
        const loadingEle = createLoadingEle()
        chatContainer.append(createChatUser(message))
        chatContainer.append(loadingEle)
        const postData = {
          message: message,
          type: parseInt($("#method").val(), 10)
        }
        console.log(postData)
        $.ajax({
          type: "POST",
          url: "/chat",
          data: JSON.stringify(postData),
          contentType: "application/json",
          success: (data)=>{
            console.log(data)
            $("#loading").remove()
            if(data.type == 0 || data.type == 1){
              const dataId = new Date().getTime()
              const messData = {id: dataId, isAnswer: false, ...data}
              sessionStorage.setItem("messData", JSON.stringify(messData))
              chatContainer.append(createChatBot({id: dataId, message: data.message, isAnswer: false}))
            }else{
              const groupId = new Date().getTime().toString() + "_group"
              const groupData = data.data.map((item)=>{
                const tmpObj = {
                  groupId, 
                  id: new Date().getTime(), 
                  message: `score: ${item.score}, question: ${item.question}`, 
                  isAnswer: false
                }
                return tmpObj
              })
              sessionStorage.setItem("groupData", JSON.stringify(groupData))
              for(const item of groupData){
                chatContainer.append(createChatBot(item))
              }
            }
          },
          error: (err)=>{
            $("#loading").remove()
            console.log(err)
          }
        })
      })

      $("#clearBtn").click(()=>{
        $("#chatContainer").empty()
      })
    })
  </script>
</html>
