<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hỏi đáp luật lao động Việt Nam</title>
    <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
  </head>
  <body class="gradient-custom">
    <section>
      <div class="w-100">
        <h3 class="text-center fw-semibold text-white py-2">Hỏi đáp luật lao động Việt Nam</h3>
      </div>
    </section>
    <section style="height: calc(100vh - 4rem);">
      <div class="container-fluid py-3">
        <div class="row" style="height: calc(100% - 2rem)">
          <div class="col-md-3 mb-4 d-sm-none d-md-block">
            <h5 class="fw-semibold mb-3 text-center text-white">
              Lựa chọn
            </h5>
            <div class="card mask-custom">
              <div class="card-body">
                <label class="text-secondary-emphasis fw-semibold  mb-1" for="method">Phương thức</label>
                <select class="form-select" name="method" id="method">
                  <option value="0" selected>Tìm kiếm câu hỏi</option>
                  <option value="1">Gợi ý câu hỏi</option>
                </select>

                <button class="btn btn-secondary mt-2" id="clearBtn">Xóa chat</button>
              </div>
            </div>
          </div>
          <div class="col-md-9 d-flex flex-column" style="max-height: 100%;">
            <div class="d-flex flex-grow-1 mb-4 h-100" id="chatArea" style="max-height: 100%; overflow-y: auto;">
              <ul class="list-unstyled text-white w-100" id="chatContainer">
               
              </ul>
            </div>
            <div class="d-flex">
              <div class="form-outline form-white w-100 px-3">
                <form id="formChat" name="chatForm" class="d-flex justify-content-between">
                  <input
                    class="form-control me-2"
                    id="chatbox"
                    rows="4"
                  ></input>
                  <button
                    type="submit"
                    data-mdb-button-init
                    data-mdb-ripple-init
                    class="btn btn-light btn-md btn-rounded float-end"
                  >
                    Gửi
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>

  <script>

    function createChatUser(message){
      const liEle = $("<li>").addClass("d-flex justify-content-between px-3 mb-4")
      const cardEle = $("<div>").addClass("card w-100")
      const cardBodyEle = $("<div>").addClass("card-body")
      const pEle = $("<p>").addClass("mb-0").text(message)
      cardBodyEle.append(pEle)
      cardEle.append(cardBodyEle)
      liEle.append(cardEle)
      const imgEle = $("<img>").attr("src", "/static/images/user.png").attr("alt", "avatar").addClass("rounded-circle bg-light d-flex align-self-start ms-3 shadow-1-strong").attr("width", "60")
      liEle.append(imgEle)
      return liEle
    }

    function createChatBot(message){
      const liEle = $("<li>").addClass("d-flex justify-content-between px-3 mb-4")
      const cardEle = $("<div>").addClass("card w-100")
      const cardBodyEle = $("<div>").addClass("card-body")
      const pEle = $("<p>").addClass("mb-0").text(message)
      const imgEle = $("<img>").attr("src", "/static/images/bot.webp").attr("alt", "avatar").addClass("rounded-circle bg-light d-flex align-self-start me-3 shadow-1-strong").attr("width", "60")
      liEle.append(imgEle)
      cardBodyEle.append(pEle)
      cardEle.append(cardBodyEle)
      liEle.append(cardEle)
      return liEle
    }

    function createLoadingEle(){
      const liEle = $("<li>").addClass("d-flex flex-row-reverse px-3").attr("id", "loading")
      const divEle = $("<div>").addClass("spinner-border text-white me-1")
      const spanEle = $("<span>").addClass("visually-hidden").text("Loading...")
      divEle.append(spanEle)
      liEle.append(divEle)
      return liEle
    }

    $(document).ready(()=>{
      $("#formChat").submit((e)=>{
        e.preventDefault()
        let message = $("#chatbox").val()
        $("#chatbox").val("")
        const chatContainer = $("#chatContainer")
        const loadingEle = createLoadingEle()
        chatContainer.append(createChatUser(message))
        chatContainer.append(loadingEle)
        const postData = {
          message: message,
          type: parseInt($("#method").val(), 10)
        }
        console.log(postData)
        $.ajax({
          type: "POST",
          url: "/chat",
          data: JSON.stringify(postData),
          contentType: "application/json",
          success: (data)=>{
            console.log(data)
            $("#loading").remove()
            if(data.type == 0){
              chatContainer.append(createChatBot(data.message))
            }else{
              const dataTmp = data.data.map((item)=>{return `score: ${item.score}, question: ${item.question}`})
              for(const item of dataTmp){
                chatContainer.append(createChatBot(item))
              }
            }
          },
          error: (err)=>{
            $("#loading").remove()
            console.log(err)
          }
        })
      })

      $("#clearBtn").click(()=>{
        $("#chatContainer").empty()
      })
    })
  </script>
</html>
